.Board-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Board-container {
  margin: 1px;
}
.list-container {
  margin : 1px;
  display: flex;
  align-items: center;
}
.square:hover {
  background-color: grey;
}